:root {
    --darkblue: #234463;
}


body {
    background-color: #3a6791;
    font-family: Arial, Helvetica, sans-serif;
  }

  header {
    list-style-type: none;
    display: flex;
  }

  header a {
    text-decoration: none;
  }

  header p {
    text-align: center;
  }

.container1 {
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 300px;
}

.container2 {
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 300px;
}

.container3 {
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 300px;
}

.justify-right {
    display: flex;
    justify-content: right;
    margin-bottom: 30px;
    margin-right: 30px;
    font-size: 25px;
}

.justify-center {
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: ;
    padding: 30px;
    border-radius: 50%;
}

.justify-left {
    display: flex;
    justify-content: left;
    margin-top: 100px;
    font-size: 25px;
}

.link-list {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 7px;
    margin-right: 40px;
    font-size: 20px;
}

.link-list:hover {
    background-color: var(--darkblue);
    color: rgb(207, 183, 75);
}

ul a {
    display: flex;
    color: rgb(74, 187, 130);
    justify-content: center;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

ul {
    list-style-type: none;
}

.footer {
    background-color: var(--darkblue);
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #772014;
    border-radius: 50%;
    display: inline-block;
  }

@media screen and (max-width: 992px) {
  .dot {
    background:  var(--darkblue);
  }
}

@media screen and (max-width: 992px) {
  body {
    background: #772014;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  nav {
    background-color: var(--darkblue);
    display: block;
  }
}

@media screen and (max-width: 576px ) {
  .sample-img {
    background-color: #8ac4ff;
    display: block;
  }
}