body {
    background-color: #3a6791;
    font-family: Arial, Helvetica, sans-serif;
  }

.container1 {
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;

}

.justify-right {
    display: flex;
    justify-content: right;
}

.justify-center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.justify-left {
    display: flex;
    justify-content: left;
}

ul a {
    display: flex;
    color: rgb(65, 136, 100);
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.footer {
    background-color: rgb(170, 49, 49);
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
